* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;

    main {
        color: white;
        text-align: center;

        h1 {
            margin: 20px 0px;
            color: white;
        }

        p {
            margin: 0px;
        }

        section {
            display: block;
        }
    }

    .contenedor-carousel {
        margin-top: 20px;
    }

    .seccion-principal {
        display: grid;
        margin: 0px 15px;

        .shows {
            display: block;
            

            .card {
                background-size: 500px;
                background-position: center center;
                border: 2px solid gray;
                border-radius: 15px;
                margin: 20px 0px;

                .texto {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding: 15px;
                    color: white;
                    -webkit-text-stroke: 0.2px white;
                    font-size: 3rem;

                    p {
                        color: white;
                        -webkit-text-stroke: 0.2px gray;
                        font-size: large;
                        font-weight: 600;
                    }
                    
                }
            }
        }
    }
    .seccion-principal-videos {
        display: flex;
        .videos {
            margin: 30px;

            .card-videos {
                border: 2px solid #31322e;
                border-radius: 15px;
                padding: 30px 30px;
                margin: 30px 0px;

                .texto {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding: 15px;
                    color: white;
                    -webkit-text-stroke: 0.2px white;
                    font-size: 3rem;

                    a {
                        color: white;
                        -webkit-text-stroke: 0.2px gray;
                        font-size: large;
                        font-weight: 600;
                        text-decoration: none;
                    }
                }
            }
        }
}}